In [1]:
import pandas as pd
ezh_pk='https://ftp.ncbi.nlm.nih.gov/geo/series/GSE76nnn/GSE76626/suppl/GSE76626_ChIP-Seq_RPM.txt.gz' ## hg38

In [2]:
s8=pd.read_table('../../data/meth/wg/skin/SRR1042908.meth',header=None)
s8.shape

(3022378, 6)

In [3]:
s14=pd.read_table('../../data/meth/wg/skin/SRR1042914.meth',header=None)
s14.shape

(3022378, 6)

In [4]:
s8=s8[s8[3]=='CpG']
s8.shape

(2691515, 6)

In [5]:
s14=s14[s14[3]=='CpG']
s14.shape

(2655268, 6)

In [6]:
s=s8.merge(s14,left_index=True,right_index=True)

In [7]:
ezh=pd.read_table(ezh_pk,index_col=0)
ezh=ezh[ezh.Chromosome!='MT']
ezh=ezh[['Chromosome','Start','End','WT_EZH2']][ezh['WT_EZH2']>2]
ezh.columns=['chrom', 'chromStart', 'chromEnd', 'value']
ezh['chrom']=ezh.chrom.astype(str)
print(ezh.shape)
ch=6
ez=ezh[ezh.chrom==str(ch)]
ez['r']=ez.apply(lambda x:range(x['chromStart'],x['chromEnd']),1)
ez=ez['r'].tolist()
ez=set([item for sublist in ez for item in sublist])

/home/moqri/anaconda3/envs/stem/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(1219, 4)

In [37]:
s[(s[['5_x','5_y']].min(1)>1) & (s['1_x'].isin(ez1))]

,0_x,1_x,2_x,3_x,4_x,5_x,0_y,1_y,2_y,3_y,4_y,5_y
33291,chr6,1310247,-,CpG,0.500000,2,chr6,1310247,-,CpG,1.000000,2
33293,chr6,1310250,-,CpG,0.500000,2,chr6,1310250,-,CpG,1.000000,2
33309,chr6,1310622,-,CpG,0.666667,3,chr6,1310622,-,CpG,0.000000,2
33317,chr6,1310713,-,CpG,0.571429,7,chr6,1310713,-,CpG,0.600000,5
33319,chr6,1310770,-,CpG,0.750000,4,chr6,1310770,-,CpG,0.500000,4
...,...,...,...,...,...,...,...,...,...,...,...,...
3010756,chr6,170292129,+,CpG,0.000000,3,chr6,170292129,+,CpG,0.333333,3
3010758,chr6,170292132,+,CpG,0.000000,3,chr6,170292132,+,CpG,0.333333,3
3010761,chr6,170292159,-,CpG,0.000000,2,chr6,170292159,-,CpG,0.333333,3
3010777,chr6,170292433,-,CpG,0.400000,5,chr6,170292433,-,CpG,0.750000,4
3010784,chr6,170292680,+,CpG,0.333333,3,chr6,170292680,+,CpG,0.000000,4

In [18]:
s[s['1_x'].isin(ez1)][['4_x','4_y']].mean()

4_x    0.450379
4_y    0.470291
dtype: float64